{% extends 'base.html.twig' %}

{% block stylesheetsDist %}
    <style type="text/css">
        {% include 'public/styles/critical/index.css' ignore missing %}
    </style>
    <script>
        (function (u) {
            function loadCSS(e, t, n) {
                "use strict";
                function r() {
                    for (var t, i = 0; i < d.length; i++)d[i].href && d[i].href.indexOf(e) > -1 && (t = !0);
                    t ? o.media = n || "all" : setTimeout(r)
                }

                var o = window.document.createElement("link"), i = t || window.document.getElementsByTagName("script")[0], d = window.document.styleSheets;
                return o.rel = "stylesheet", o.href = e, o.media = "only x", i.parentNode.insertBefore(o, i), r(), o
            }

            for (var i in u) {
                loadCSS(u[i]);
            }
        }(["{{ asset('styles/main.css') }}"]));
    </script>
    <noscript>
        <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
    </noscript>
{% endblock stylesheetsDist %}

{% block body %}

<div class="section-basic">
    <div class="container">
        <h1>Offerte ADSL: confronto tariffe Internet e Telefono</h1>
        <h2 class="hidden-sm">Trova la soluzione più adatta alle tue esigenze. Puoi risparmiare oltre 400€ sul telefono di casa e l'ADSL, con il massimo della qualità.</h2>
    </div>
    <div class="container">
        <div id="results-box" class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            {% for offer in offers %}
              <!-- MOBILE OFFER -->
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg mob-rr">
                    <div class="col-xs-5 col-xs-offset-7 col-sm-5 col-sm-offset-7 header">
                        <a data-toggle="modal" href="#provider-details-{{ loop.index }}">
                            <img src="https://www.comparasemplice.it/images/brands/adsl/eolo.png" alt="Offerte Eolo: tariffe adsl e telefono e tariffe aggiornate" title="Eolo" class="mob-logo">
                        </a>
                    </div>
                    <div class="col-xs-7 col-sm-7 nopadding">
                        <span class="orange x-mid offer-name">{{ offer.name }}</span>
                        <br>
                        <span class="smaller">{{ offer.type }}</span>
                        <br>
                        fino a <span class="green mid">{{ offer.speed_download }} Mbps</span>
                        <br>
                        <div class="text-center col-xs-12">
                            <span style="visibility:hidden" class="midsmall red">Scade <strong class="small">OGGI!</strong>!</span>
                        </div>
                        <br>
                        <div class="text-center col-xs-12 col-sm-12 mob-info-link" data-toggle="modal" href="#price-details-1">
                            <span class="smaller">Maggiori informazioni</span>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-5 text-center nopadding mob-cta-container">
                        <span class="orange light-bold x-big">{{ offer.start_price }}<span class="decimal"></span><sup class="orange light-bold small">{{ offer.start_price_decimal }}</sup></span>
                        <span class="small txt-light">€/mese</span>
                        {%  if(offer.promo_price_expire == "") %}
                        <br>
                        <div class="line-compressed nopadding col-xs-12">
                            <span class="light-bold small red">Valido PER SEMPRE!</span>
                        </div>
                        <br>
                        {%  endif %}
                        <a href="{{ offer.link  }}" target="_blank" onclick="ga('send','pageview','/click-procedi-offerta-{{ offer.id }}')" title="Procedi con {{ offer.name }}">
                            <button class="btn-big cta mid">PROCEDI</button>
                        </a>
                    </div>
            </div>
                <!-- MOBILE OFFER -->
            <div class="col-sm-12 col-lg-12 col-md-12 hidden-xs offer-box">
                <!-- HEADER OFFER -->
                <div class="row offer-box-head">
                    <div class="col-md-2 col-lg-2 col-sm-5 col-xs-5 offer-logo">
                        <img data-original="{{ asset('images/brands/adsl/infostrada.png') }}" class="lazy"
                             alt="Offerte Infostrada: tariffe adsl e telefono e tariffe aggiornate" title="Infostrada"
                             src="{{ asset('images/brands/adsl/infostrada.png') }}" style="display: inline;">
                    </div>
                    <div class="col-md-5 col-lg-5 col-sm-7 col-xs-7 offer-name text-center">
                        <a href="{{ offer.link }}" onclick="ga('send','pageview','/click-{{ offer.link }}')"
                           alt="Procedi con {{ offer.name }}" title="Procedi {{ offer.name }}">{{ offer.name }}</a>
                        <br>
                        <span>{{ offer.type }}</span>
                    </div>

                    <div class="col-md-3 col-lg-3 hidden-xs hidden-sm offer-support text-center">
                        <span style="font-size:13px;">Servizi al cliente</span>
                        <br>
                    </div>
                    <div data-toggle="popover" data-placement="left" title="" data-trigger="hover"
                         data-content="La qualità viene determinata dalla media delle valutazioni dei clienti sull'efficienza del servizio di assistenza"
                         class="col-md-2 col-lg-2 hidden-xs hidden-sm offer-experience"
                         data-original-title="Qualità dell'assistenza">
                        <a class="simple-link" style="color:#9EE200 !important;"
                           title="{{ offer.id_provider }} - Scheda valutazione e assistenza"
                           alt="{{ offer.id_provider }} - Scheda valutazione e assistenza"
                           href="https://www.comparasemplice.it/fornitori/adsl/infostrada/">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                        </a>
                    </div>
                </div>
                <!-- WRAP OFFER --->
                <div class="row offer-box-wrap">
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 gauges">
                        <div class="chart-gauge-box gauge-support text-center">
                            <div class="chart-gauge-download chart-gauge hidden-xs hidden-sm" data-speed="{{ offer.speed_download }}" data-label="Download" id="download-gauge-{{ loop.index }}">
                                <br />
                                <span >Calcolo velocità...</span>
                                <br />
                            </div>
                            <span class="gauge-label">Download</span>
                            <br>
                            <span class="gauge-speed">{{ offer.speed_download }} Mbps</span>
                        </div>
                        <div class="chart-gauge-box gauge-support text-center">
                            <div class="chart-gauge-upload chart-gauge hidden-xs hidden-sm" data-speed="{{ offer.speed_upload }}" data-label="Upload" id="upload-gauge-{{ loop.index }}">
                                <br />
                                <span>Calcolo velocità...</span>
                                <br />
                            </div>
                            <span class="gauge-label">Upload</span>
                            <br>
                            <span class="gauge-speed">{{ offer.speed_upload }} Mbps</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 hidden-xs hidden-sm tlc-box price default-price">
                        {%  if(offer.promo_price_expire == "") %}
                        <span class="col-xs-12 m10 various">Prezzo promo indicato</span>
    			<span class="bold col-xs-12 midsmall nopadding line-compacted green">
    			     <span class="txt-light">Valido</span> PER SEMPRE!</span>
                        <div data-toggle="tooltip" data-placement="bottom"
                             title="Il prezzo mensile indicato &egrave; valido per tutta la durata del contratto" class="bottom-label">
                            Che significa?
                        </div>
                        {% else %}
                        <span class="col-xs-12 various">Prezzo dopo {{ offer.promo_price_expire }}</span>
                        <br />
                        {{ offer.default_price }}<span class='decimal'>{{ offer.default_price_decimal }}</span> <span class="various">&euro;/mese</span>
                        <div data-toggle="tooltip" data-placement="bottom"
                             title="E' il prezzo dell'offerta al termine della promozione indicata" class="bottom-label">
                            Che significa?
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 price tlc-box">
                        <span class="hidden-xs hidden-sm col-md-12 various "
                              style="line-height: 32px;">Prezzo promo</span>
                        <span class="col-xs-12 promo-label bigger-label compactize">{{ offer.start_price }}<span class="decimal">{{ offer.start_price_decimal }}</span>
                            <span class="various" style="line-height: 32px;">€/mese</span></span>
                        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 hidden-md hidden-lg mobile-bottom-label"
                             data-toggle="modal" href="#price-details-{{ loop.index }}">
                            Maggiori informazioni
                        </div>
                        <!-- Countdown wrapper -->
                       <!-- <div class="pull-left countdown_wrapper">
                            <span class="col-md-12 col-lg-12 text-center cd-label">Scade tra:</span>
                            <div class="col-xs-12 nopadding countdown_container" data-id="5">
                                <div class="col-xs-12 nopadding cd-numbers-wrapper">
                                    <span class="days">01</span><span class="hours" style="margin-right:0">13</span>
                                    <span class="minutes" style="margin-left:0">51</span><span class="seconds">04</span>
                                </div>
                                <div class="col-xs-12 cd-label-wrapper">
                                    <p class="days_text">Giorni</p>
                                    <p class="hours_text">Ore</p>
                                    <p class="minutes_text">Min</p>
                                    <p class="seconds_text">Sec</p>
                                </div>
                            </div>
                        </div> -->
                        <!-- END Countdown wrapper -->
                        <div class="hidden-xs hidden-sm bottom-label" data-toggle="modal" href="#price-details-{{ loop.index }}">
                            Maggiori informazioni
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 box-action">
                        <a href="{{ offer.link }}"
                           class="promo-link simple-link" target="_blank" onclick="ga('send','pageview','/click-procedi-offerta-{{ offer.id }}')">
                            <button data-env="tlc" data-id="5" class="btn-big active-now">PROCEDI</button>
                        </a>
                    </div>
                </div>
                <span class="hidden expiration_date_wrapper" data-for="5">{{ offer.offer_expire }}</span>
            </div>
            {%  endfor %}
        </div>
    </div>

</div>

{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            {% if app.environment == 'node' %}
                <script type="text/javascript" src="scripts/config.js"></script>
                <script type="text/javascript" data-main="main" src="bower_components/requirejs/require.js"></script>
            {% else %}
                <script type="text/javascript" src="{{ asset('scripts/results.js') }}"></script>
            {% endif %}
        {% endblock %}
